@tailwind base;
@tailwind components;
@tailwind utilities;

.dashed-line {
    background: linear-gradient(to right, transparent 10%, #000 10%, #000 20%, transparent 20%, transparent 30%, #000 30%, #000 40%, transparent 40%, transparent 50%);
    background-size: 20px 1px; /* Ajusta el tamaño de cada trozo */
    background-repeat: repeat-x;
    background-clip: content-box;
  }